<div class="min-h-[10vh] bg-[#BF8EC6] rounded-b-xl justify-center">
    <div class="grid sm:grid-cols-12 gap-10 text-center text-[#F2F1F8] font-bold">
        <p class="sm:col-span-2 m-5">Overview</p>
        <p class="sm:col-span-2 m-5 min-w-[11vw]">Payment List</p>
        <p class="sm:col-span-1 m-5 ">Assets</p>
        <p class="sm:col-span-1 m-5 ">Plan</p>
        <p class="sm:col-span-1 m-5 ">Coupons</p>
        <p class="sm:col-span-1 m-5 ">Blog</p>
        <div class="sm:col-span-4 self-center">
            Hello, {{ username }}!  <a class="sm:col-span-4 self-center" href={{ url_for("auth.logout") }} >Logout</a>
        </div>
    </div>
</div>