<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h2>Welcome to {{ title }} Page</h2>
    {% if title == 'Login' %} <h3>Sign In<h3>
        {% else %} <h3>Sign up</h3>
        {% endif %}
    <form method="POST" action="{{ url_for("auth.login_page") }}">
    {{ form.csrf_token }}
    {{ error }}
    <p>
        {{ form.username.label }}: {{ form.username(class_="form-control form-control-lg") }}<br>
        {{ form.password.label }}: {{ form.password(class_="form-control form-control-lg") }}
    </p>
    {{ form.submit(class="btn btn-outline-info") }}
</form>
</body>
</html>